.hero {
	position: relative;
	height: 400px;
	background-color: #000000;
}

.hero img {
	display: block;
	margin: 0 auto;
	max-height: 100%;
}

.hero__info {
	padding: 32px;
	padding-bottom: 24px;
	position: absolute;
	bottom: 0;
	color: #FFFFFF;
	text-shadow: rgba(0, 0, 0, 0.6) 0px 2px 4px;
}

.hero__info h1 {
	font-size: 36px;
	margin: 0;
}

.hero__arrow {
	position: absolute;
	margin: 24px;
	font-size: 24px;
	color: #FFFFFF;
	text-decoration: none;
	text-shadow: rgba(0, 0, 0, 0.6) 0px 2px 4px;
	cursor: pointer;
}

.hero__arrow--left {
	top: 176px;
}

.hero__arrow--right {
	top: 176px;
	right: 0;
}
