.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: calc(100% - 64px);
	height: 56px;
	padding: 0 32px;
}

.header h3 {
	font-size: 18px;
}

.header__dropdown {
	height: 32px;
}

.header__dropdown label {
	font-size: 10px;
}
